<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/userSheets/register.css">
</head>

<body>
    <div class="loginbox">

        <h1>Sign Up</h1>
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter Username">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email"  required placeholder="Enter email">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required placeholder="Enter password">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>

</html>